<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Ruturaj Pandit Naik/IdeaProjects/GoogleCloud/src/test"><classes><class name="org.example.CalculatorPageTest"><methods><include name="checkInformationInVmClassString"/><include name="checkRegion"/><include name="checkSSD"/><include name="checkInstanceType"/><include name="checkCommitment"/><include name="checkCost"/></methods></class><class name="org.example.PasteBinTest"><methods><include name="paste"/></methods></class></classes></test></suite>